h1 {
    color:rgb(87, 87, 87);
    font-style: normal;
    font-family:'Times New Roman';
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:black;
    background-color:whitesmoke;
}

table, th, td {
    text-shadow:2px 2px 5px red;
    border: 2px solid;
    width: 40%;
    padding: 5px;
    text-align: left;
    position: static;
    }

    body {
        background-image: url("fuji.jpg");
        background-repeat: no-repeat;
      }
